# =========================
# Configuración Global
# =========================
global
    daemon
    maxconn 4096
    log stdout format raw local0

# =========================
# Parámetros por defecto
# =========================
defaults
    mode http
    log global
    option dontlognull
    retries 3
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# =========================
# DNS Resolver (Swarm)
# =========================
resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

# =========================
# Frontends
# =========================

frontend usuarios_front
    bind *:3001
    default_backend be_usuarios

frontend libros_front
    bind *:3002
    default_backend be_libros

frontend prestamos_front
    bind *:3003
    default_backend be_prestamos

frontend admin_front
    bind *:3004
    default_backend be_admin

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends
    stats show-node

# =========================
# Backends
# =========================

backend be_usuarios
    balance roundrobin
    option httpchk GET /usuarios
    server usuarios usuarios:3001 check resolvers docker resolve-prefer ipv4

backend be_libros
    balance roundrobin
    option httpchk GET /libros
    server libros libros:3002 check resolvers docker resolve-prefer ipv4

backend be_prestamos
    balance roundrobin
    option httpchk GET /prestamos
    server prestamos prestamos:3003 check resolvers docker resolve-prefer ipv4

backend be_admin
    balance roundrobin
    option httpchk GET /admin
    server admin admin:3004 check resolvers docker resolve-prefer ipv4
