global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# DNS interno de Docker Swarm
# define el resolver
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    #dns interno de docker
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

# Frontend - stats de HAProxy
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats show-node

# Frontend HTTP - enrutamiento por prefijo de ruta
# si se cumple que la url empieza por ... redirige al MS
# ACL (lista de control de acceso)
# define el punto de entrada y el puerto
frontend http_front
    bind *:80

    # MS1 - Usuarios
    acl is_usuarios  path_beg /usuarios
    acl is_usuarios  path_beg /login

    # MS2 - Libros
    acl is_libros    path_beg /libros

    # MS3 - Prestamos
    acl is_prestamos path_beg /prestamos

    use_backend usuarios_back  if is_usuarios
    use_backend libros_back    if is_libros
    use_backend prestamos_back if is_prestamos

    default_backend no_match
    #si no empieza por ninguna ruta conocida

# Backends

backend usuarios_back
    balance roundrobin
    #balanceo
    option tcp-check
    #verifica estado del servidor
    server-template usuarios_ 10 usuarios:3001 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none
    #puede manejar hasta 10 contenedores - 2 checks ok para marcar up - usa el dns de docker - no repite ips - evita que falle al iniciar si no hay ips

backend libros_back
    balance roundrobin
    option tcp-check
    server-template libros_ 10 libros:3002 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend prestamos_back
    balance roundrobin
    option tcp-check
    server-template prestamos_ 10 prestamos:3003 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend no_match
    errorfile 503 /dev/null
