global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# DNS interno de Docker Swarm
resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

# Frontend - estadísticas de HAProxy
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats show-node

# Frontend HTTP - enrutamiento por prefijo de ruta /api/
frontend http_front
    bind *:80

    # MS1 - Usuarios
    acl is_usuarios  path_beg /api/usuarios
    acl is_usuarios  path_beg /api/login

    # MS2 - Libros
    acl is_libros    path_beg /api/libros

    # MS3 - Préstamos
    acl is_prestamos path_beg /api/prestamos
    acl is_prestamos path_beg /api/devoluciones

    # MS4 - Admin
    acl is_admin     path_beg /api/admin

    use_backend usuarios_back  if is_usuarios
    use_backend libros_back    if is_libros
    use_backend prestamos_back if is_prestamos
    use_backend admin_back     if is_admin

    default_backend frontend_back

# Backends
backend usuarios_back
    balance roundrobin
    option tcp-check
    http-request replace-path /api/(.*) /\1
    server-template usuarios 10 biblioteca_usuarios:3001 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend libros_back
    balance roundrobin
    option tcp-check
    http-request replace-path /api/(.*) /\1
    server-template libros 10 biblioteca_libros:3002 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend prestamos_back
    balance roundrobin
    option tcp-check
    http-request replace-path /api/(.*) /\1
    server-template prestamos 10 biblioteca_prestamos:3003 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend admin_back
    balance roundrobin
    option tcp-check
    http-request replace-path /api/(.*) /\1
    server-template admin 10 biblioteca_admin:3004 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend frontend_back
    balance roundrobin
    server-template frontend 1 biblioteca_frontend:80 check inter 10s rise 2 fall 3 resolvers docker_dns resolve-opts prevent-dup-ip init-addr none

backend no_match
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
